.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
}
.right-caret:after,.left-caret:after {
	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after {
	border-left: 5px solid #ffaf46;
}
.left-caret:after {
	border-right: 5px solid #ffaf46;
}
#headerMenulLeft.sidebar {
	overflow: inherit;
}
#headerMenulLeft .dropdown-menu {
	left: 100%;
	top: 0%;
}
.dropdown ul.dropdown-menu::before {
    content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #fff;
    position: absolute;
	top: 8px;
	left: -10px;
    z-index: 10;
}
*::before, *::after {
    box-sizing: border-box;
}
/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}
.profile-header-img {
    padding: 10px;
}
.profile-header-img > img.img-circle,
.profile-header-img > span.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}
.profile-header-img > span.img-circle {
	font-size: 100px; 
	overflow: hidden;
	background-color: #fff;
    z-index: -1;
}
.profile-header-img > span.img-circle-bg {
    width: 120px;
    height: 120px;
    background-size: 80% auto;
    background-position: center center;
    background-repeat: no-repeat;
	display: inline-block;
}
.profile-header {
    margin-top: 10px;
}
/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -15px;
    z-index: 1000;
    text-align: center;
}
.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}