.oculto {
	display:none;
}
.form-group.warning .control-label,.form-group.warning .help-block,.form-group.warning .help-inline{color:#c09853;}
.form-group.warning .checkbox,.form-group.warning .radio,.form-group.warning input,.form-group.warning select,.form-group.warning textarea{color:#c09853;}
.form-group.warning input,.form-group.warning select,.form-group.warning textarea{border-color:#c09853;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.form-group.warning input:focus,.form-group.warning select:focus,.form-group.warning textarea:focus{border-color:#a47e3c;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;}
.form-group.warning .input-prepend .add-on,.form-group.warning .input-append .add-on{color:#c09853;background-color:#fcf8e3;border-color:#c09853;}
.form-group.error .control-label,.form-group.error .help-block,.form-group.error .help-inline{color:#b94a48;}
.form-group.error .checkbox,.form-group.error .radio,.form-group.error input,.form-group.error select,.form-group.error textarea{color:#b94a48;}
.form-group.error input,.form-group.error select,.form-group.error textarea{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.form-group.error input:focus,.form-group.error select:focus,.form-group.error textarea:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;}
.form-group.error .input-prepend .add-on,.form-group.error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48;}
.form-group.success .control-label,.form-group.success .help-block,.form-group.success .help-inline{color:#468847;}
.form-group.success .checkbox,.form-group.success .radio,.form-group.success input,.form-group.success select,.form-group.success textarea{color:#468847;}
.form-group.success input,.form-group.success select,.form-group.success textarea{border-color:#468847;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.form-group.success input:focus,.form-group.success select:focus,.form-group.success textarea:focus{border-color:#356635;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7aba7b;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7aba7b;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7aba7b;}
.form-group.success .input-prepend .add-on,.form-group.success .input-append .add-on{color:#468847;background-color:#dff0d8;border-color:#468847;}
.form-group.info .control-label,.form-group.info .help-block,.form-group.info .help-inline{color:#3a87ad;}
.form-group.info .checkbox,.form-group.info .radio,.form-group.info input,.form-group.info select,.form-group.info textarea{color:#3a87ad;}
.form-group.info input,.form-group.info select,.form-group.info textarea{border-color:#3a87ad;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.form-group.info input:focus,.form-group.info select:focus,.form-group.info textarea:focus{border-color:#2d6987;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7ab5d3;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7ab5d3;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7ab5d3;}
.form-group.info .input-prepend .add-on,.form-group.info .input-append .add-on{color:#3a87ad;background-color:#d9edf7;border-color:#3a87ad;}

.table-responsive {
    overflow: hidden;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}
.col-xs-6 .bootstrap-switch .bootstrap-switch-handle-on, 
.col-xs-6 .bootstrap-switch .bootstrap-switch-handle-off, 
.col-xs-6 .bootstrap-switch .bootstrap-switch-label {
	height: auto;
}
.profile-header-container > .profile-header-img > span.img-circle {
    border-color: #337AB7;
}
.navbar-default,.navbar-primary,.navbar-success,.navbar-info,.navbar-warning,.navbar-danger,.popover-title{
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075)
}
.navbar-primary, .popover-title{
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4;
    border-radius: 0px;
}
.popover-content {
    color:#000;
}
.navbar-primary, .popover-title{
    background-image:-webkit-linear-gradient(top, #337ab7 0, #265a88 100%);
    background-image:-o-linear-gradient(top, #337ab7 0, #265a88 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #337ab7), to(#265a88));
    background-image:linear-gradient(to bottom, #337ab7 0, #265a88 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat:repeat-x;
    border-color:#245580
}
.navbar-primary .navbar-nav > li > a {
    color:#fff;
}
.navbar-primary .navbar-nav > li > a:hover {
    color:#fff;
}
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
    padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
}
.ui-helper-hidden-accessible {
    display: none;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    z-index: 5;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.bootstrap-select {
    z-index: 5 !important;
}